/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1rem;
}

body, html {
  min-height: 100vh;
  background-color: #F7F7F7;
}


/* navbar */
.navbar {
  background-color: #fff;
  height: 64px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 0 15%;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.logo img {
  grid-row: span 2;
}

.brand-name-1, .brand-name-2 {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.brand-name-1 {
  color: #85A911;
}

.brand-name-2 {
  color: #66737E;
}

section.registration {
  background-color: #fff;
  box-shadow: 0 0 5px #aaa;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 30px 40px;
}

.form-header {
  margin-bottom: 30px;
  color: #485764;
}

/* form box */
form.reg-form {
  display: grid;
  grid-template-columns: 1.5fr repeat(5, 1fr);
  grid-template-rows: 7;
  row-gap: 30px;
  column-gap: 40px;
  color: #63707B;
}

form.reg-form > label {
  display: flex;
  align-items: center;
}

input[type=text], textarea {
  border: solid 1px #E4E4E4;
  border-radius: 5px;
  color: #333;
  outline: none;
  padding: 10px 8px;
}

.name {
  grid-column: span 5;
}

.radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

/* .radio > label::before {
  content: '';
  height: 15px;
  width: 15px;
  background-color: #DEDEDE;
  border: solid 1px #ddd;
  border-radius: 1000px;
} */

/* .radio::after {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #333;
  position: absolute;
  left: 12px;
  border-radius: 1000px;
} */

/* .radio > input[type=radio] {
  display: none;
} */
